:root {
	--primary: #57a4d1;
	--secondary: lightblue;
	--error: #ed1d24;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

button {
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
}
