:root {
	--primary: hsl(202, 74%, 26%);
	--secondary: hsl(195, 53%, 79%);
	--loading: hsl(202, 74%, 50%);
	--error: hsl(358, 85%, 52%);
	--shadow-color: 0deg 0% 50%;
	--shadow-med: 1px 2px 2px hsl(var(--shadow-color) / 0.333),
		2px 4px 4px hsl(var(--shadow-color) / 0.333), 3px 6px 6px hsl(var(--shadow-color) / 0.333);
	--grey: hsl(0, 0%, 60%);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	line-height: 1.5;
}

body,
html,
div#svelte {
	height: 100%;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

button {
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
}

input,
select {
	font-size: inherit;
	accent-color: var(--primary);
}

a {
	color: var(--primary);
}

a:focus {
	color: white;
	background-color: var(--primary);
}

a:focus:not(.focus-visible) {
	color: var(--primary);
	background-color: inherit;
}

details:focus,
summary:focus {
	outline: 0.125rem solid var(--grey);
	border-radius: 0.5rem;
}
