@import 'open-props/style';
@import 'open-props/normalize';
@import 'open-props/buttons';

:root {
	--primary: var(--blue-9);
	--secondary: var(--blue-2);
	--loading: var(--blue-5);
	--error: var(--red-8);
	--shadow-med: var(--shadow-3);
	--grey: var(--gray-6);
	--brand: var(--primary);
}

body {
	font-family: var(--font-sans);
	margin: 0;
}

body,
html,
div#svelte {
	height: 100%;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/* TODO: link styles? */

/* a {
	color: var(--primary);
}

a:focus {
	color: white;
	background-color: var(--primary);
}

a:focus:not(.focus-visible) {
	color: var(--primary);
	background-color: inherit;
}

details:focus,
summary:focus {
	outline: 0.125rem solid var(--grey);
	border-radius: 0.5rem;
}
*/
